@font-face{
    font-family: "font baru";
    src:url('../font/overlock/Overlock-Regular.ttf');
}
.ftbaru{
    font-family: "font baru";
    font-size: 20px;
}
.cradio{
	width: 20px;
	height: 20px;
}
.twarnabiru{
	background-color: gray;
	color:white;
	border: solid 1px black; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}